.welcome-msg {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-img {
  display: none;
}

.line-black-sizing {
  display: flex;
  justify-content: center;
}

.second-hero {
  position: relative;
  top: 0;
}

.triple-sizing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triple-sizing div:nth-child(2n) {
  margin-left: 0;
  margin-right: 0;
}

.argument-type {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
}
